monolog:
    channels:
        - deprecation
        - doctrine
        - security
        - event
        - request
        - router
    handlers:
when@dev:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/%kernel.environment%.log"
                level: debug
                channels: ["!event","!deprecation","!security"]
                max_files: 0
            deprecation_handler:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/deprecation/%kernel.environment%.log"
                level: info
                channels: ["deprecation"]
                max_files: 0
            event_handler:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/events/%kernel.environment%.log"
                level: debug
                channels: ["event"]
                max_files: 0
            request_handler:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/request/%kernel.environment%.log"
                level: debug
                channels: ["request"]
                max_files: 0
            router_handler:
                type:         fingers_crossed
                action_level: WARNING
                handler:      router_nested_handler
                channels: ["router"]
            router_nested_handler:
                type:         rotating_file
                path:         "%kernel.logs_dir%/dev/router/%kernel.environment%.log"
                level:        debug
                max_files:    0
            doctrine_handler:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/doctrine/%kernel.environment%.log"
                level: debug
                channels: ["doctrine"]
                max_files: 0
            security_handler:
                type: rotating_file
                path: "%kernel.logs_dir%/dev/security/%kernel.environment%.log"
                level: debug
                channels: ["security"]
                max_files: 0
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: "%kernel.logs_dir%/test/%kernel.environment%.log"
                level: debug
                channels: ["!event","!deprecation","!security"]
                max_files: 0
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
